header {
  height: 67px;
  background: linear-gradient(to right, #2e2e31 0%,#2e2e31 26%,#37373a 25%,#37373a 100%);
  font-size: 13px;
  letter-spacing: 1px;
}

@media screen and (max-width: 1300px) {
  header {
      background: linear-gradient(to right, #2e2e31 0%,#2e2e31 20%,#37373a 19%,#37373a 100%);
  }
}

.header-wrapper {
  position: relative; 
  display: flex;
  justify-content: space-between;
  width: 993px;
  height: 100%;
  margin: 0 auto;
}

.logo-container, 
nav, 
.user-settings {
  height: 100%; 
}

header ul li:hover {
  background-color: #58b89d;
}

/* LOGO CONTAINER */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  background: #2e2e31;
}

/* NAV */

nav {
  width: 50%; 
}

.nav-list {
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  width: 100%; 
  height: 100%;
  margin: 0; 
  padding: 0; 
}

.nav-item {
  position: relative;
  display: flex; 
  align-items: center; 
  height: 100%;
  margin: 0; 
  padding: 0 10px; 
  text-transform: uppercase;
  transition: all 0.2s; 
  cursor: pointer;
}

.nav-item:last-of-type {
  font-weight: bold;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 20;
}

.nav-item:hover:before {
  border-left-color: #58b89d;
}