.sub-menu {
    position: absolute;
    top: 67px;
    left: 0;
    transform: translateX(-35%); 
    display: block;
    width: 993px;
    height: 360px;
    background-color: #e9e8e8;
    z-index: -10;
}

/* Brand list */

.sub-menu-wrapper,
.brand-list {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    height: 100%;
}

.brand-list {
    padding: 0 2.5rem;
}

.brand-list section {
    width: auto; 
    text-align: left; 
}

.brand-list section:first-child {
    position: relative;
    padding-right: 50px; 
}

.brand-list section:first-child:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, #e9e8e8 0%,#fff 35%,#fff 35%,#fff 100%);
}

.brand-list h3 {
    color: #4e4d4d; 
    font-size: 0.8rem; 
}

.brand-list ul {
    margin-left: -10px;
    padding: 0;
    padding-right: 10px; 
}

.brand-list li {
    position: relative;
    line-height: 24px;
}

.brand-list li:hover {
    background-color: #58b89d;
}

.brand-list li:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #e9e8e8;
    border-bottom: 5px solid transparent;
}

.brand-list a {
    color: #6f6f6f;
    font-size: 11px;
    transition: color .2s ease;
    text-align: left; 
    padding: 0 10px; 
}

.brand-list li:hover a {
    color: #e9e8e8;
}

.nav-item:hover .sub-menu {
    z-index: 10;
}

/* Visu */

.sub-menu-wrapper .visu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 1rem;
    box-shadow: 0 0px 30px -5px #000;
}

.sub-menu-wrapper .visu.column {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
}

.visu.column a {
    position: relative;
    margin-bottom: .5rem;
    font-size: 9px;
    text-transform: uppercase;
    color: #4e4d4d;
    margin-top: 0.5rem;
}

.visu.column a:last-child:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #58b89d;
    border-bottom: 5px solid transparent;
    margin-right: .5rem;
}